* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top-left-portion {
  border-right: 1px solid #dbdbdb;
  height: 931px;
  margin-left: 30px;
  position: absolute;
}
.icon-1 {
  position: absolute;
  left: 6px;
  margin-left: 30px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #5030e5;
  opacity: 1;
}
.left-arrow {
  margin: 0 30px;
}
.project {
  margin-left: 70px;
}
.icon-2 {
  position: absolute;
  left: 10px;
  margin-left: 30px;
  top: 10px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #5030e5;
  opacity: 0.4;
}
.icon-3 {
  position: absolute;
  left: 1px;
  top: 10px;
  margin-left: 30px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #5030e5;
  opacity: 0.6;
}
.icon-container {
  border-bottom: 1px solid #dbdbdb;
  margin-left: 0 !important;
  position: relative;
}
.sec-nav {
  margin-left: 250px;
  border: none;
  position: absolute;
  width: 417px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 50px;
  margin-top: 10px;
  background: #f5f5f5;
  border-radius: 6px;
}
.search-bar {
  position: relative;
  margin-left: 35px;
}
.right-nav-info {
  margin-left: 65%;
}
.right-ic {
  stroke-width: 0.001px !important;
}
.search-icon {
  position: absolute;
  margin-left: 250px;
  margin-top: 20px;
  top: 1%;
  left: 1%;
}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.left-menu {
  border-top: 1px solid #dbdbdb;
  width: 220px;
  padding-top: 30px;
}
.circle-1 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7ac555;
}
.first-project {
  background: rgba(80, 48, 229, 0.08);
  width: 200px;
  border-radius: 6px;
}
.circle-2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffa500;
}
.circle-3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e4ccfd;
}
.circle-4 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #76a5ea;
}
.box {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 27px;
  background: #dedce4;
  border-radius: 16px;
  border: none solid black;
}
.half-circle {
  position: absolute;
  width: 66px;
  height: 66px;
  top: -80px;
  left: 65px;
  background: #dedce4;

  border-radius: 50% 50% 0 0;
}
.bulb {
  position: absolute;
  left: 37.54%;
  right: 18.52%;
  top: 16.34%;
  bottom: 19.96%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #fbcb18;
}
.bulb-bottom {
  position: absolute;
  left: 22.55%;
  right: 33.47%;
  top: 105%;
  bottom: 8.33%;
  width: 10px;
  height: 3px;
  background: #fbcb18;
}
.thought-time {
  position: absolute;
  width: 101px;
  height: 17px;
  left: 25%;
  top: 17%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.text-box {
  position: absolute;
  width: 166px;
  height: 60px;
  top: 37%;
  left: 7%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #787486;
}
.input-box {
  position: absolute;
  width: 160px;
  top: 70%;
  left: 5%;
  background: #ffffff;
  border-radius: 4px;
}
input {
  height: 30px;
  border: none;
}
.padded-placeholder::placeholder {
  padding: 30px;
}
.app-left {
  width: 25%;
}
.main-page {
  width: 75%;
  float: left;
}
.app-left,
.main-page {
  float: left;
}
.pencil-background {
  background: hsl(255, 13%, 88%);
  border: none solid #5030e5;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.link-background {
  background: hsl(255, 13%, 88%);
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: none solid #5030e5;
}
.profile-image-1 {
  border-radius: 50%;
  position: absolute;
  width: 38px;
  height: 38px;
  padding: 5px 0 0 1px;
  background: #f4d7da;
  border: 1px solid #ffffff;
}
.image-container {
  position: relative;
}

.image-container > img:nth-child(1) {
  position: absolute;
  border-radius: 50%;
  left: 30px;
}
.image-container > img:nth-child(2) {
  position: absolute;
  border-radius: 50%;
  left: 60px;
}
.image-container > img:nth-child(3) {
  position: absolute;
  border-radius: 50%;
  left: 90px;
}
.image-container > span {
  position: absolute;
  border-radius: 50%;
  left: 120px;
}
.dropdown {
  position: relative;
}
.flower-width {
  width: 220px;
}
.dropbtn {
  position: absolute;
  width: 122px;
  height: 35px;
  left: 10%;
  padding-top: 2px;
  border: 1px solid #787486;
  border-radius: 6px;
}
.filter {
  padding-top: 6px;
  position: absolute;
  left: 10px;
}
.arrow {
  padding-top: 6px;
  position: absolute;
  left: 90px;
}
.left-button {
  margin-left: 140px;
}
.dropbtn1 {
  position: absolute;
  width: 90px;
  height: 35px;
  padding-left: 40px;
  padding-top: 2px;
  border: 1px solid #787486;
  border-radius: 6px;
}
.filter1 {
  padding-top: 6px;
  position: absolute;
  left: 10%;
}
.dropdown1 {
  position: relative;
  margin-left: 500px;
}
.right-small-line {
  border-right: 1px solid black;
  height: 30px;
  width: 110px;
}
.blue-icon {
  border-radius: 1px;
  outline: 10px solid #5030e5;
}
.box1 {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 320px;
  height: 600px;
  background: #dedce4;
  border-radius: 16px;
  border: none solid black;
}
.box1-dots {
  position: absolute;
  right: 5%;
  top: 1%;
}
.circle-5 {
  position: absolute;
  width: 8px;
  top: 8%;
  left: 5%;
  height: 8px;
  border-radius: 50%;
  background: blue;
}
.to-do {
  position: absolute;
  top: 6%;
  left: 10%;
}
.badge-p {
  position: absolute;
  top: 6.5%;
  border-radius: 50%;
  left: 28%;
  background: #adabb4 !important;
}
.plus-button {
  position: absolute;
  top: 6.5%;
  right: 4%;
}
.first-to-do-box {
  border-bottom: 3px solid blue;
  padding-top: 70px;
}
.circle-6 {
  position: absolute;
  width: 8px;
  top: 8%;
  left: 5%;
  height: 8px;
  border-radius: 50%;
  background: #ffa500;
}
.second-to-do-box {
  border-bottom: 3px solid #ffa500;
  padding-top: 70px;
}
.on-progress {
  position: absolute;
  top: 6.5%;
  border-radius: 50%;
  left: 45%;
  background: #adabb4 !important;
}
.circle-7 {
  position: absolute;
  width: 8px;
  top: 8%;
  left: 5%;
  height: 8px;
  border-radius: 50%;
  background: #76a5ea;
}
.third-to-do-box {
  border-bottom: 3px solid #8bc48a;
  padding-top: 70px;
}
.drag-first {
  position: relative;
}
.badge-abs {
  position: absolute;
  top: 5%;
  left: 4%;
  color: rgb(173, 148, 23);
  background: #e4ccfd;
}
.card-title {
  position: absolute;
  top: 22%;
  left: 4%;
}
.card-desc {
  position: absolute;
  top: 40%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #787486;
  left: 4%;
}
.images-box-1 {
  position: absolute;
  top: 62%;
  left: 4%;
}
.images-box-1 > img {
  width: 24px !important;
  height: 24px !important;
}
.image-container1 > img:nth-child(2) {
  position: absolute;
  left: 20px;
}
.image-container1 > img:nth-child(3) {
  position: absolute;
  left: 40px;
}
.comments-value {
  position: absolute;
  top: 75%;
  right: 34%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #787486;
}
.comments-value-1 {
  position: absolute;
  top: 75%;
  right: 5%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #787486;
}

.card-title-1 {
  position: absolute;
  top: 15%;
  left: 4%;
}
.hop {
  align-items: center;
  justify-content: center;
}
.text-success {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #68b266;
  background: rgba(131, 194, 157, 0.2);
}
.card-title-1 {
  position: absolute;
  top: 15%;
  left: 4%;
}
.description {
  width: 274px;
  height: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #0d062d;
}
.three-completed {
  height: 100px;
  width: 260px;
  object-fit: cover;
}
.images-box-2 {
  position: absolute;
  top: 69%;
  left: 4%;
}
.images-box-2 > img {
  width: 24px !important;
  height: 24px !important;
}
@media (max-width: 768px) {
  .top-left-portion {
    border-right: 1px solid #dbdbdb;
    height: 80px;
    margin-left: auto;
    position: absolute;
  }
  .icon-1 {
    margin-left: 5px;
  }
  .icon-2 {
    margin-left: 5px;
  }
  .icon-3 {
    margin-left: 5px;
  }
  .left-arrow {
    margin: 0 5px;
  }
  .project {
    margin-left: 40px;
  }
  .sec-nav {
    margin-top: 50px;
    margin-left: 150px;
    width: 187px;
    height: 34px;
  }
  .profile-info {
    display: flex;
    flex-direction: row !important;
  }
  .search-bar {
    margin-left: 10px;
  }
  .search-icon {
    margin-top: 55px;
    margin-left: 150px;
  }
  .right-nav-info {
    float: right;
    margin-left: 30%;
  }
  .profile-image {
    width: 40px;
    height: 40px;
  }
  .name,
  .text-end {
    font-size: small;
  }
  .name {
    padding-top: 4px;
  }
  .text-end {
    margin-right: 15px;
  }
  .icon-container {
    border-bottom: 1px solid #dbdbdb !important;
  }
  .app-left {
    margin-top: 50px;
    width: 25%;
  }
  .main-page {
    margin-top: 60px;
    width: 55%;
    margin-left: 40px;
  }

  .left-bar p {
    font-size: 12px;
  }
  .mp-class h6 {
    font-size: 12px;
  }
  .mp-class .circle-4 {
    padding-left: 10px;
  }
  .mp-class .circle-3 {
    padding-left: 10px;
  }
  .mp-class .circle-2 {
    padding-left: 10px;
  }
  .mp-class .circle-1 {
    padding-left: 10px;
  }
  .box {
    margin-left: 4px;
  }
  .box1 {
    margin-left: 50px;
    width: 270px;
    height: 600px;
  }
  .drag-first {
    margin: 5px 0 !important;
    width: 250px;
  }
  .description {
    width: auto;
  }
  .three-completed {
    width: 240px;
  }
  .flower-width {
    width: 150px;
  }
  .mobile-app {
    font-size: 15px;
    padding-top: 15px;
  }
  .pencil-background,
  .link-background,
  .plus-hide {
    display: none;
  }
  .text-primary {
    font-size: 12px;
    margin-left: auto;
  }
  .image-container {
    padding-right: 20px;
  }
  .dropbtn {
    margin-top: 20px;
    width: 75px;
    height: 25px;
    font-size: 12px;
  }
  .filter {
    margin-top: 20px;
    left: 1%;
  }
  .arrow {
    margin-top: 20px;
    left: 50px;
  }
  .dropdown {
    margin: 0 90px;
    margin-left: 0;
  }
  .dropdown1,
  .dropbtn1,
  .filter1 {
    display: none;
  }
  .dropdown1 .right-small-line {
    right: inherit;
  }
  .b-icon,
  .margin-to-give {
    flex-wrap: wrap;
    justify-content: first baseline;
  }
  .right-small-line {
    display: none;
  }
  .blue-icon {
    margin-left: 200px !important;
  }
  .box1 {
    margin-bottom: 10px;
  }
}
